.home-body{
    height: 100%;
    background: #DCD0C0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#DCD0C0 50%, #F4F4F4 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DCD0C0 50%, #F4F4F4 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DCD0C0 50%, #F4F4F4 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DCD0C0 50%, #F4F4F4 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #373737
/*    overflow-y:hidden;*/
}

.headshot {
    border-radius: 50%;
	width: 230px;
	height: 200px; 
}

.image-position {
    text-align: center;
}

.pattern-background{
    background-color: #c0B283;
}
