.irratating-jumbo {
    margin-top: 100px;
}
.page-links{
    margin-top: 50px;
}
.pattern-background{
    background-color: #c0B283;
}
.about-me{
    text-decoration: underline;
    font-size: 30px;
    color: #373737;
}
.about-me:hover{
   color: #F4F4F4;
}
.contact-me-link{
    text-decoration: underline;
    font-size: 30px;
    color: #373737;
}
.contact-me-link:hover{
    color: #F4F4F4;
}

.headshot {
    border-radius: 50%;
    width: 230px;
    height: 200px;
}

.image-position {
    text-align: center;
}
