.about-me-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    width: 100%;
    height: 60%;
}
.container-one {
    background-color: pink;
    margin-right: 0.5%;
    width: 33%;
    height: auto;
}
.container-two {
    background-color: red;
    margin-right: 0.5%;
    width: 33%;
    height: auto;
}
/* .container-two {
    margin-right: 0.5%;
    width: 33%;
    height: 100%;
    padding: 5px;
    background-image: linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(transparent, transparent); 
    background-repeat: no-repeat;
    background-size: 4px 50%, 50% 4px, 4px 50%, 50% 4px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top;
} */
.container-three {
    background-color: yellow;
    width: 33%;
    height: auto;
}
.about-me-picture {
   height: 50%;
   width: 80%;
}
.about-me-text {
    text-align: left;
    padding: 5px 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

/* do this or take out one of the squares */
/* Smaller screens such as phones  */  
@media screen and (min-width: 0px) and (max-width: 414px) {
    .about-me-wrapper{
        flex-direction: column;
        height: 100%;
    }
    .nav-container {
        height: 15%;
        width: 100%;
        background-color: chartreuse;
    }
    .about-me-container {
        background-color: tomato;
        flex-direction: column;
        height: 85%;
    }
    .container-one {
        width: 100%;
    }
    .container-two {
        width: 100%;
    }
    .container-three {
        width: 100%;
    }
    .about-me-picture {
        height: 70%;
        width: 100%;
     }
}