.about-me-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.page-title {
    background-color: aqua;
    width: 100%;
}
.divider { 
    background-color: blueviolet;
    color: blueviolet;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 
.about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    width: 100%;
    height: auto;
}
.container-one {
    /* background-color: yellow; */
    margin-right: 10px; 
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 33%;
    height: auto;
    background-image: linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(transparent, transparent); 
    background-repeat: no-repeat;
    background-size: 2px 70%, 60% 2px, 2px 60%, 70% 2px, calc(100% - 8px) calc(100% - 8px);
    background-position: left top, left top, right bottom, right bottom;
}
.container-two {
    /* background-color: blue; */
    width: 33%;
    height: auto;
    margin-right: 10px; 
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    background-image: linear-gradient(purple, purple),
    linear-gradient(transparent, transparent); 
    background-repeat: no-repeat;
    background-size: 2px 100%;
    background-position: right top, right top;
}
.container-three {
    /* background-color: brown; */
    width: 33%;
    height: auto;
    margin-right: 10px; 
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-image: linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(purple, purple),
    linear-gradient(transparent, transparent); 
    background-repeat: no-repeat;
    background-size: 2px 60%, 20% 2px, 2px 60%, 20% 2px, calc(100% - 8px) calc(100% - 4px);
    background-position: right bottom, right bottom, right top, right top;

}
.about-me-picture {
    margin-top: 45px;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}
.about-me-text {
    text-align: justify;
    /* padding: 5px 5px; */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.quote-text {
    text-align: center;
    margin-top: 25px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

/* do this or take out one of the squares */
/* Smaller screens such as phones  */  
@media screen and (min-width: 0px) and (max-width: 414px) {
    .about-me-wrapper{
        flex-direction: column;
        height: 100%;
    }
    .nav-container {
        height: 15%;
        width: 100%;
        background-color: chartreuse;
    }
    .about-me-container {
        background-color: tomato;
        flex-direction: column;
        height: 85%;
    }
    .container-one {
        width: 100%;
    }
    .container-two {
        width: 100%;
    }
    .container-three {
        width: 100%;
    }
    .about-me-picture {
        height: 70%;
        width: 100%;
     }
}