html,body {
    height: 100vh;
    width: 100vw;
    margin: 0;          
    padding: 0;
    background-color: #c45e42;
    font-family: Arial,sans-serif;
}
.centered {
    height: 100%;
    width: 100%;
}
.contact-me-wrapper {
    display: flex;
    flex-direction: row;
    /* align-items: center; 
    justify-content: center; */
    height: 100%;
    width: 100%;
}
.container1 {
    background-color: darkcyan;
    height: auto;
    width: 50%;
}
.container1-heading-container{
    text-align: center;
}
.container1-contact-info-container{
    text-align: center;
}
.contact-me-picture {
    height: 220px;
    width: 220px;
}
.contact-me-header {
    display: inline-block;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-me-about-text {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.container2 {
    background-color: #e0d0c1;
    width: 50%;
    display: flex;
    flex-direction: column;

}

.contact-form-group{
    background-color: aqua;
    width: 80%;
    margin: 0 auto;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 95%;
  border: 1px solid #f7f9f9;
  background: #f7f9f9;
  margin: 0 0 5px;
  padding: 10px;
}

#contact-form textarea {
    height: 100px;
    max-width: 95%;
    resize: none; 
  }
#contact-form button{
    background-color: #c45e42;
    cursor: pointer;
    font-size: 15px;
    display: block; 
    margin: 0 auto;
} 
  /* see if your want them to be able to resize */

/* do this or take out one of the squares */
/* Smaller screens such as phones  */  
@media screen and (min-width: 0px) and (max-width: 414px) {
    .about-me-wrapper {
        flex-direction: column;
    }
    .container1 {
        width: 100%;
    }
    .container2 {
        width: 100%;
    }

    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form textarea {
        width: 87%;
        border: 1px solid #f7f9f9;
        background: #f7f9f9;
        margin: 0 0 5px;
        padding: 10px;
    }
    #contact-form textarea {
        height: 100px;
        max-width: 97%;
        resize: none; 
      }
}