<nav-bar></nav-bar>
<p> Your are on the about me page.</p>
 <img class="headshot col-xs-12 col-md-8 col-md-offset-2 img-responsive" src="images/deona.jpg"> 
  <p class="card-text">My name is Deona Williams. I am a web developer at the start of my career. This *website, the full version coming soon, is the start of my portfolio. I am also taking the Full Stack Web Development Specializtion through Coursera. I currently work to build and maintain web applications at Target, Inc.</p>


<div class="jumbotron col-xs-12 col-md-6 col-md-offset-3">
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Contact Me</a>
    </p>
</div>