<nav-bar></nav-bar>
<div class="container-fluid">
    <div class="page-header">
        <h3 class="text-center header-text">Of course I believe in magic, I am a web developer.</h3>
    </div>

    <div style="padding-bottom: 25px"></div>

    <div class="row">

        <div class="col-md-4 col-md-offset-1">
            <img class="img-responsive img-circle photo-size col-md-4" src="/app/images/deona.jpg">
        </div>

        <p class="text-center about-me-text col-md-6">As a passionate web developer growing her skills, I find magic in every line of
            code I write. I love seeing things come to fruition in the browser and on web applications. I have been
            developing now, for two years, focusing mainly on front-end languages and technologies.
        </p>
        <p class="text-center about-me-text col-md-6">I am originally from East Chicago, Indiana (not to be confused with the east
            side of Chicago, Illinois) and studied Informatics at Indiana University in Bloomington, Indiana. Taking
            Human Computer Interaction (HCI) courses there is what initiated my aspiration to create technologies and
            products to help people.
        </p>
        <p class="text-center about-me-text col-md-6">This website, future iterations to come, is the start of my portfolio and
            demonstrates my learning thus far in web development, including but not limited to, HTML/CSS, Bootstrap,
            JavaScript, AngularJS, PHP, and web build/automation tools. You may view my source code on GitHub by
            clicking on the link below. In addition to working on this website and its later versions, I am taking the
            Full Stack Web Development Specialization through Coursera and a JavaScript and responsive web development
            course on Udemy. I currently work to build and maintain web applications at Target, Inc.
        </p>
    </div>

    <div class="row">
        <div>
            <div class="connection-links">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="https://wwww.facebook.com/deona.c.williams" target="_blank">
                        <i class="fa fa-facebook fa-3x fb-background"></i>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="https://github.com/deocwill8" target="_blank">
                        <i class="fa fa-github fa-3x gh-background"></i>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="https://www.linkedin.com/in/deona-williams-9983a545" target="_blank">
                        <i class="fa fa-linkedin fa-3x ls-background"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

  



