<nav-bar></nav-bar>
<div class="container">
    
    <h3 class="text-center">Thanks for visting</h3>
    <h3 class="text-center">Stay in contact</h3>
 
        <div>
            <form novalidate class="form-group col-md-12" ng-submit="sendEmail(input)" name="form" action="contact.php" role="form" method="post">
                
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="contactname" name="contactname" ng-model="input.contactname" />
            
                <label for="subject">Subject:</label>
                <input class="form-control" id="subject" name="subject" type="text" ng-model="input.subject" />
            
                <label for="email">E-mail address:</label>
                <input class="form-control" id="email" name="email" type="email" ng-model="input.email" />
            
                <label for="message">Message:</label>
                <input class="form-control" id="message" name="message" type="textarea" rows="5" ng-model="input.message" />
            
                <button type="submit" type="submit" name="submit" value="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

