<div class="container">
    <h3 class="text-center">stay in contact</h3>

    <div class="row image-position">
         <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="https://wwww.facebook.com/deona.c.williams" target="_blank">
                <i class="fa fa-facebook fa-4x fb-background"></i>
            </a>
         </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="https://github.com/deocwill8" target="_blank">
                <i class="fa fa-github fa-5x gh-background"></i>
            </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="https://www.linkedin.com/in/deona-williams-9983a545" target="_blank">
                <i class="fa fa-linkedin fa-4x ls-background"></i>
            </a>
        </div>   
    </div>  
</div>


