<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>Of course I believe in magic, I am a web developer.</h1>
    </div>
    <div class="row">
        <p class="col-xs-12 col-md-6">My name is Deona Williams. I am a web developer at the start of my career. This website, the full version coming soon, is the start of my portfolio. I am also taking the Full Stack Web Development Specializtion through Coursera. I currently work to build and maintain web applications at Target, Inc.</p>

        <img class="img-responsive img-circle col-xs-12 col-md-6" src="images/deona.jpg"> 
    </div>
    
    <p class="padding:100px"></p>
    
    <div class="row">
        <div class="image-position">
            <img src="images/facebook.svg" style="width: 50px; height:50px;">
            <img src="images/github.png" style="width: 50px; height:50px;">
            <img src="images/linkedin.svg" style="width: 50px; height:50px;">
        </div>
    </div>
</div>


