<nav-bar></nav-bar>
<div class="container-fluid">
     <div class="page-header">
        <h3 class="text-center">Of course I believe in magic, I am a web developer.</h3>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
             <img class="img-responsive photo-size col-md-4" src="/app/images/deona.jpg">
        </div>
        
        <p class="text-center col-md-6">This website, the full version coming soon, is the start of my portfolio and demonstrates my learning thus far on some web development frameworks, including but not limited to, HTML/CSS, JavaScript, AngularJS, Bootstrap, and PHP. You may view my source code on GitHub by clicking on the below link. In additon to working on this website and its later version, I am taking the Full Stack Web Development Specializtion through Coursera and a JavaSccript and HTML/CSS course on Udemy. I currently work to build and maintain web applications at Target, Inc.
        </p>
    </div>
    
    <div class="row">
        <div>
        <div class="image-position">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="https://wwww.facebook.com/deona.c.williams" target="_blank">
                    <i class="fa fa-facebook fa-4x fb-background"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="https://github.com/deocwill8" target="_blank">
                    <i class="fa fa-github fa-5x gh-background"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="https://www.linkedin.com/in/deona-williams-9983a545" target="_blank">
                    <i class="fa fa-linkedin fa-4x ls-background"></i>
                </a>
            </div> 
        </div>
        </div>    
    </div> 
         

  



