<!--<nav-bar></nav-bar>-->
<div class="container-fluid">
    <div class="row">
        <div class="irratating-jumbo">
              <div class="jumbotron col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 pattern-background">
                <div class="col-md-5 col-xs-12 text-center">
                    <img class="img-circle img-responsive" src="/app/images/about.JPG">
                </div>
                <div class="text-center">
                    <h1 class="body-text">Deona Williams </h1>
                    <div style="padding-bottom: 20px"></div>
                    <h2 class="body-text">Web Developer</h2>
                </div>

                  <div style="padding-bottom: 90px"></div>

                  <div class="page-links text-center ">
                      <p class="about-me col-md-4 body-text" ng-click="seeMore()">About Me</p>
                      <p class="contact-me-link body-text" ng-click="contact()">Contact Me</p>
                  </div>
            </div>
        </div>
    </div> 
    
     <div class="row">
         <div class="page-links text-center">
            <p class="body-text">Created by Deona Williams</p>
         </div>
        
    </div>
        
</div>

