<nav-bar></nav-bar>
<div class="container-fluid">
    <div class="row">
            <div class="jumbotron col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 pattern-background"> 
                <div class="col-md-6">
                    <img class="img-circle img-responsive" src="/app/images/deona.jpg">
                </div>      
                <div class="col-xs-8 col-md-6">
                    <h2>Deona Williams </h2>
                    <p>Web Developer</p>
                    <button ng-click="seeMore()" class="btn btn-default">About Me</button>
                </div>  
            </div>
    </div> 
    
  
        <p>About Me</p>
        <p>Keep in touch</p>
   
    
</div>

